
<h1>Welcome 2 Atomic Web Designs</h1>

<!-- bootstrap markup form 1 row, margin top of 5 -->
<div class="row mt-5">
<!-- bootstrap markup 6 collumn divs, margin auto -->
  <div class="col-md-6 m-auto">
    <!-- bootstrap markup for card borders and padding, text align center -->
    <div class="card card-body text-center">
      <!-- bootstrap markup for nodejs ICON
      <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
      <p>Create An Account To Login And Subscribe To Atomic Newsletters</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>



